}

@media (min-width: 768px) { 
  .navbar {
    background-color: #212121;
  }
}

@media (min-width: 992px) { 
.navbar {
    background-color: #212121;
  }    
  .nav-link:hover {
    border-bottom: 3px solid #0B36DC;
  }
}

html,
body,
header,
.view {
  height: 100%;
}
/*
img:hover {
  background-color: #fafafa;
}

.malasngoding-slider { 
	border: 5px solid #efefef; 
	position: relative; 
	overflow: hidden; 
	background: #efefef;
}
